<!DOCTYPE html>
<!-- {{{ -->
<!--
	You must be smart if you're reading this. Check out the site's code:
	https://github.com/AaronOpfer/aaronopfer.com
-->
<!-- }}} -->
<!--[if lt IE 7]><html class="no-js ie6"><![endif]-->
    <!--[if IE 7]><html class="no-js ie7"><![endif]-->
    <!--[if IE 8]><html class="no-js ie8"><![endif]-->
    <!--[if gt IE 8]><!--><html class="not-horrible no-js"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta charset="UTF-8">

		<meta name="copyright" content="Copyright Aaron Opfer 2013. Some Rights Reserved.">
		<meta property="og:title" content="Aaron Opfer - <%=page.capitalize%>">
		<meta property="og:image" content="//gravatar.com/avatar/63f6aa22eee34930753969832d205da1?s=256>
		<meta property="og:image:width" content="256" />
		<meta property="og:image:height" content="256" />
		<meta property="og:site_name" content="Aaron Opfer">
		<% if page == "music" %>
		<meta property="og:type" content="musician">
		<% else %>
		<meta property="og:type" content="public_figure">
		<% end %>
		<meta name="author" content="Aaron Opfer">
		<meta name="keywords" content="Aaron Opfer, Music, Programmer, Software, Developer, Software Developer">
		<meta name="description" content="Software Developer, Indie Musician.">
		<meta property="og:description" content="Software Developer, Indie Musician.">
		<meta property="og:updated_time" content="<%=Time.now.to_i%>">
		
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, target-densitydpi=medium-dpi">
		
		<script>document.documentElement.className=document.documentElement.className.replace(/no-js/,'js');</script>
		<link href=<%= cachebust_uri("stylesheets/screen.css") %> rel="stylesheet" type="text/css" />
		<link rel="dns-prefetch" href="//w.soundcloud.com">
		<link rel="dns-prefetch" href="//connect.facebook.net">
		<!--[if lt IE 9]>
			<%= ie_script_includes %>
		<![endif]-->
		
		<link rel="shortcut icon" type="image/png" href=<%=cachebust_uri("images/favicon.png")%>>
		<title>Aaron Opfer - <%=page.capitalize%></title>
	</head>

	<body>
		<div id="fb-root"></div><!-- facebook helper div -->
		<header>
			<h1><a href="" title="Aaron Opfer">AARON OPFER</a></h1>
			<nav>
				<a href="home" title="Home" <%= selected('home') %>>HOME</a>
				<a href="career" title="Career" <%= selected('career') %>>CAREER</a>
				<a href="music" title="Music" <%= selected('music') %>>MUSIC</a>
			</nav>
		</header>
		
		<div id="content" role="main">
			<div class='swipe-wrap' id="swipe-wrap">
				<article <%= selected('home') %>>
					<img id="gravatar" src="//gravatar.com/avatar/63f6aa22eee34930753969832d205da1?s=256" alt="Aaron Opfer" title="Aaron Opfer">
					<p>
						I am Aaron Opfer. I'm from The Internet.
					</p>
					<p>
						I like: Creative Commons, FLOSS, EFF, outer space, Daft Punk and the color <span id="orange">orange</span>.
					</p>
					
					<div id="figure_container">
						<p>
							I make:
						</p>
						<figure>
							<img id="server_img" src=<%= cachebust_uri("images/server.png") %> alt="Application and network servers/daemons">
							<figcaption>Application Servers</figcaption>
						</figure>
						
						<figure>
							<img id="responsive_img" src=<%= cachebust_uri("images/responsive.png")%> alt="Websites that work on many devices">
							<figcaption>Responsive Websites/Webapps</figcaption>
						</figure>
						
						<figure>
							<img id="music_img" src=<%= cachebust_uri("images/music.png")%> alt="EDM Music">
							<figcaption>EDM Music</figcaption>
						</figure>
					</div>
				</article>
				
				<article <%= selected('career') %>>
					<div class="two_columns">
						<div>
							<h2>Software Development</h2>
							<ul>
								<li>
									<h3>Languages</h3>
									<ul>
										<li>Javascript/jQuery
										<li>HTML5/CSS3
										<li>SASS &amp; Compass
										<li>PHP
										<li>C/C++
										<li>Python
										<li>bash
										<li>Intel x86 Assembly
									</ul>
								<li>
									<h3>Frameworks &amp; Environments</h3>
									<ul>
										<li>Node.js (Express.js)
										<li>Tornado
									</ul>
								<li>
									<h3>Data Stores</h3>
									<ul>
										<li>MySQL
										<li>MongoDB
									</ul>
								
								<li>
									<h3>Skillsets</h3>
									<ul>
										<li>Socket &amp; Network Programming (Linux &amp; Windows)
										<li>Reverse-Engineering (binaries, websites, etc.)
										<li>Disassembly
										<li>Embedded Linux &amp; Kiosk Applications 
										<li>Network Security
										<li>Industrial Comm. Equipment (Modbus)
									</ul>
							</ul>
						</div>
						<div>
							<h2>Systems Administration</h2>
							<ul>
								<li><h3>Linux Server Administration</h3>
								<ul>
									<li>Various network service daemons (DNS,DHCP,etc.)
									<li>RAID &amp; Filesystems
									<li>iptables configuration (NAT)
									<li>Squid proxy
									<li>Mail daemons (Dovecot)
									<li>Samba 3 domains w/ 20 Windows PCs &amp; Laptops
									<li>PXE boot utilities
								</ul>
							
								<li><h3>General</h3>
								<ul>
									<li>Deep knowledge of Windows and Linux (esp. Debian-based distros)
									<li>General PC maintanence (cleaning malware, etc.)
								</ul>
							</ul>
							
							<a id="github_blurb" href="https://github.com/AaronOpfer/aaronopfer.com" title="aaronopfer.com on GitHub">
								<span>View this site's code on GitHub!</span><br>
								<img alt="GitHub Icon" src=<%= cachebust_uri("images/github.png")%>>
							</a>
						</div>
					</div>
					<hr>
					<p>
						To request an official resume, please contact me by email: <a href="mailto:me@aaronopfer.com">me@aaronopfer.com</a>.
					</p>
				</article>
				
				<article id="music_tab" <%= selected('music') %>>
					<div id="music_description">
						<div id="fb_like">
							<div class="fb-like-box" data-href="http://www.facebook.com/aaronopfer" data-width="200" data-show-faces="false" data-colorscheme="dark" data-stream="false" data-header="true"></div>
						</div>
						<p>
							My music is the product of the development of my musical talents since my freshman year of High School
							when I first started tinkering with a program called FL Studio. As I create more music I try to get better results by increasing melodic
							variety and improving my mastering technique, and finding inspiration from new sources.
						</p>
						<p> Below is my entire body of released work. <a href="https://soundcloud.com/aaronopfer" title="Aaron Opfer's SoundCloud">It can also be found at SoundCloud.</a></p>

					</div>
					<hr>
					<div id="album_name">...</div>
					<div id="controls">
						<div id="prev_album">&lt; PREVIOUS ALBUM</div>
						<div id="next_album">NEXT ALBUM &gt;</div>
					</div>
					<div id="soundcloud_player">
						<noscript>
							<strong>:(</strong><p>You need JavaScript enabled to use this widget.</p>
						</noscript>
					</div>
					<div id="cc_license"><a title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License." href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons Logo" src=<%=cachebust_uri("images/by-nc-sa-30-us.png")%>></a></div>
				</article>
			</div>
		</div>
		
		<footer>
			&copy; Aaron Opfer 2013. Some Rights Reserved.
			<div>
				<a title="Facebook" href="http://www.facebook.com/aaronopfer">Facebook</a>
				<a title="MySpace" href="http://myspace.com/aaronopfer">MySpace</a>
				<a title="SoundCloud" href="http://soundcloud.com/aaronopfer">SoundCloud</a>
				<a title="GitHub" href="https://github.com/aaronopfer">GitHub</a>
				<a title="LinkedIn" href="http://www.linkedin.com/pub/aaron-opfer/62/385/a9/">LinkedIn</a>
				<a title="Reddit" href="http://www.reddit.com/user/aaronopfer">Reddit</a>
				<a title="YouTube" href="http://www.youtube.com/user/aaronopfer">YouTube</a>
				<a title="Gmail" href="mailto:me@aaronopfer.com">me@aaronopfer.com</a>
			</div>
		</footer>
		<noscript id="can_has_javascript">

				Hey buddy. You should consider enabling JavaScript. I mean,
				I'm not telling you what to do or anything, but the site will
				work a little better with it turned on.

				<br><br>Thanks pumpkin.
		</noscript>
		<%=script_includes %>
	</body>
</html>
